.cell {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: transparent;
  background-color: #d1d0d0;
  border: solid 3px;
  border-bottom-color: #b6b5b5;
  border-right-color: #b6b5b5;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
}

.cell_dark {
  background-color: #444343;
  border-bottom-color: #000000;
  border-right-color: #000000;
  border-top-color: #b6b5b5;
  border-left-color: #b6b5b5;
}

.cell__open {
  background-color: #d6d4d4;
  border: solid 1px #a7a7a7;
}

.cell__open_dark {
  background-color: #353434;
  border: solid 1px #000000;
}

.cell__flagged {
  position: relative;
  background-image: url(./images/flag.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 85%;
}

.cell__flagged_error::before,
.cell__flagged_error::after {
  content: '';
  display: block;
  width: 3px;
  height: 110%;
  position: absolute;
  top: -5%;
  left: calc(50% - 1.5px);
  border-radius: 2px;
  background-color: black;
}

.cell__flagged_error::before {
  rotate: 45deg;
}

.cell__flagged_error::after {
  rotate: -45deg;
}

.cell__bomb {
  background-image: url(./images/bomb.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
}

.cell__bomb_error {
  background-color: #971010;
}
