.table {
  text-align: center;
  border-collapse: collapse;
}

.table,
.th,
.td {
  border: 1px solid #928e8e;
}

.table_dark,
.th_dark,
.td_dark {
  border-color: #b6b5b5;
}

.th,
.td {
  padding: 5px 10px;
}

.th {
  font-weight: normal;
}
