.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;

  background-color: #f3f0f0;
}

.app_dark {
  background-color: #222222;
}

.game {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
